extends ../base.pug

block content
  h3 Creat Experiment
  form(method="POST")
    fieldset
      legend Passcode
      input(type="text" name="passcode" value=experiment.passcode)

    fieldset
      legend Number of participants
      input(type="number" name="partSize" value=experiment.partSize)

    input(type="submit" value="Create")
