extends ../base.pug

block content
  h3 Creat Experiment
  form(method="POST")
    .form-group
      label(for="passcode") Passcode
      input.form-control(type="password", name="passcode", id="passcode", value=credential.passcode)
    .form-group
    button.btn.btn-success(type="submit") Create
