extends ../base.pug

block content
  h3 Experiments

  a(href="/exps/create", class='btn btn-success btn-sm')
    i.glyphicon.glyphicon-plus
    span  Create experiments

  each exp in entries
    .media
      a(href=`/exps/${exp.id}`)
        .media-body
          h4= exp.id
            | &nbsp;
            small= exp.creationDate

  if !entries.length
    p No experiments found.

  if nextPageToken
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) More
