doctype html
html(lang="en")
  head
    title Public Goods
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
  body
    ul
      style
        include style.css
      li
        a(class="active", href="/exps") Public Goods
      block navbar

    .container
      block content
