extends base.pug

block content
  p You seem to have missed at least one of the comprehension check questions.
  p You missed question number(s) ___________

  p Please click 
    a(href=``) here 
    | &nbsp;to try the questions another time.

  p Also, if you need any assistance, please raise your hand and an experimenter will come over to help you out.
