extends ../base.pug

block content
  h3 Instructions

  p
    b
      i This screen will automatically move forward in 60 seconds.

  p you will play the game exactly as was described in the initial instructions: For each round you will play with 3 other participants. The multiplier for the group fund will be 2 – so everything that gets transferred to the group fund will be multiplied by 2, and will then be divided up equally among the 4 participants.

  p When you feel you understand, please click 
    a(href=`comprehension`) next
    | .
  p If you need assistance, please raise your hand and an experimenter will come by to assist you.
